<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <main class="px-4">
    <section class="flex flex-col items-center">
      <h1 class="text-4xl text-center font-bold">
        This is the about page
      </h1>
      <article class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis culpa deserunt
        doloremque doloribus, error ex facilis hic, ipsam, ipsum laboriosam perferendis sunt ut vero voluptas
        voluptatum. Deserunt, et.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis culpa deserunt
        doloremque doloribus, error ex facilis hic, ipsam, ipsum laboriosam perferendis sunt ut vero voluptas
        voluptatum. Deserunt, et.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis culpa deserunt
        doloremque doloribus, error ex facilis hic, ipsam, ipsum laboriosam perferendis sunt ut vero voluptas
        voluptatum. Deserunt, et.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis culpa deserunt
        doloremque doloribus, error ex facilis hic, ipsam, ipsum laboriosam perferendis sunt ut vero voluptas
        voluptatum. Deserunt, et.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis culpa deserunt
        doloremque doloribus, error ex facilis hic, ipsam, ipsum laboriosam perferendis sunt ut vero voluptas
        voluptatum. Deserunt, et.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis culpa deserunt
        doloremque doloribus, error ex facilis hic, ipsam, ipsum laboriosam perferendis sunt ut vero voluptas
        voluptatum. Deserunt, et.
      </article>
    </section>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>

</html>