<header class="flex justify-between bg-white shadow-md items-center h-16">
    <div class="brand px-4">
        <a href="/">
            <img class="h-12 w-12" src="/images/favicon.ico" alt="logo">
        </a>
    </div>
    <nav class="flex h-16 justify-between items-center">
        <ul class="flex justify-between items-center">
            <li class="flex justify-center items-center bg-blue-300 h-16 px-4 py-4 border-b-4 border-blue-700 cursor-pointer">
                <a href="/" class="font-bold uppercase">
                    Home
                </a>
            </li>
            <li class="flex justify-center items-center hover:bg-blue-300 h-16 px-4 py-4  cursor-pointer">
                <a href="/about" class="font-bold uppercase">
                    About
                </a>
            </li>
            <li class="flex justify-center items-center hover:bg-blue-300 h-16 px-4 py-4 cursor-pointer">
                <a href="/blogs/create" class="font-bold uppercase">
                    Blog
                </a>
            </li>
        </ul>
    </nav>

</header>