<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is as a result of the node crash course from youtube with the net ninja">
    <meta name="author" content="Musah Ibrahim Ali">
    <title><%= title %> | miastudios inc</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>